@model CineTech.Models.KinoSala

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-center">Delete</h1>

<div class="container">
    <h3 class="text-center mt-4">Da li ste sigurni da želite obrisati ovo?</h3>
    <div class="row mt-4">
        <div class="col-md-6 offset-md-3">
            <dl class="row">
                <dt class="col-sm-3">Naziv:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.naziv)</dd>

                <dt class="col-sm-3">Broj redova:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.brojRedova)</dd>

                <dt class="col-sm-3">Broj kolona:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.brojKolona)</dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="id" />
                <div class="text-center">
                    <button type="submit" class="btn btn-danger">Delete</button> |
                    <a asp-action="Index" class="btn btn-primary">Nazad</a>
                </div>
            </form>
        </div>
    </div>
</div>
