@model CineTech.Models.KinoSala

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">Details</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h4>KinoSala</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">Naziv:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.naziv)</dd>

                <dt class="col-sm-3">Broj redova:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.brojRedova)</dd>

                <dt class="col-sm-3">Broj kolona:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.brojKolona)</dd>
            </dl>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6 offset-md-3">
            @if (User.IsInRole("Administrator"))
            {
                <a asp-action="Edit" asp-route-id="@Model?.id" class="btn btn-primary">Edit</a>
            }
            <a asp-action="Index" class="btn btn-primary">Nazad</a>
        </div>
    </div>
</div>
