@model CineTech.Models.KinoSala

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center">Edit</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h4>KinoSala</h4>
            <hr />
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="id" />
                <div class="form-group">
                    <label asp-for="naziv" class="control-label">Naziv</label>
                    <input asp-for="naziv" class="form-control" />
                    <span asp-validation-for="naziv" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="brojRedova" class="control-label">Broj redova</label>
                    <input asp-for="brojRedova" class="form-control" />
                    <span asp-validation-for="brojRedova" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="brojKolona" class="control-label">Broj kolona</label>
                    <input asp-for="brojKolona" class="form-control" />
                    <span asp-validation-for="brojKolona" class="text-danger"></span>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a asp-action="Index" class="btn btn-secondary">Nazad</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
