@model CineTech.Models.Ocjena

@{
    ViewData["Title"] = "Edit";
    var filmid = Model.FilmId;
    var korisnik = Model.korisnikId;

}

<h1>Edit</h1>

<h4>Ocjena</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="ocjenaFilma" class="control-label"></label>
                <input asp-for="ocjenaFilma" class="form-control" />
                <span asp-validation-for="ocjenaFilma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="komentar" class="control-label"></label>
                <input asp-for="komentar" class="form-control" />
                <span asp-validation-for="komentar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="datum" class="control-label"></label>
                <input asp-for="datum" class="form-control" readonly/>
                <span asp-validation-for="datum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="korisnikId" class="control-label"></label>
                <input asp-for="korisnikId" value="@korisnik" class=" form-control" readonly />
                <span asp-validation-for="korisnikId" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="FilmId" class="control-label"></label>
                <input asp-for="FilmId" value="@ViewBag.UserFilm" class=" form-control" readonly />
                <span asp-validation-for="FilmId" class="text-danger"></span>

            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Ocjenas" asp-action="OcjeneFilma" asp-route-id="@ViewBag.UserFilm">Back to List</a>
</div>

