@using Newtonsoft.Json

@{
    ViewData["Title"] = "KupovinaView";
    var sjedistaJson = TempData["Sjedista"] as string;
        dynamic podaci = JsonConvert.DeserializeObject(sjedistaJson);
        var sjedista = (podaci.Sjedista).ToObject<List<int[]>>();
        var novaCijena = (double)podaci.NovaCijena;

}

<h1 class="text-center">Upišite podatke vaše kartice</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="~/img/logoCinetechCrni.png" alt="CineTech Logo" height="100px" />
                            <h3>Cijena:</h3>
                            <h1>@novaCijena KM</h1>
                        </div>
                        <div class="col-md-8">
                            <h2 class="text-center">Dovršite kupovinu karata</h2>
                            <p class="text-center">Unesite sve podatke kartice</p>
                            <form action="#">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="cardNumber" placeholder="Broj kartice" required>
                                    <label for="cardNumber">Broj kartice</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="validUntil" placeholder="Važi do (MM/GGGG)" required>
                                    <label for="validUntil">Važi do (MM/GGGG)</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="cvv" placeholder="CVV" required>
                                    <label for="cvv">CVV</label>
                                </div>
                                <div class="text-center">
                                    <img src="~/img/VISA.jpg" alt="Visa Card" height="50px" />
                                    <img src="~/img/Mastercard.png" alt="Mastercard" height="50px" />
                                </div>
                                <div class="text-center mt-3">
                                    <a id="myButton" class="btn btn-primary">Plati</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var OdabranaSjedista = @Html.Raw(JsonConvert.SerializeObject(sjedista));

    document.getElementById('myButton').addEventListener('click', function () {
        $.ajax({
            type: 'POST',
            url: '/Kupovinas/CreateSjediste',
            data: JSON.stringify(OdabranaSjedista),
            contentType: 'application/json',
            success: function (response) {
                if (response.redirectUrl) {
                    window.location.href = response.redirectUrl;
                } else {
                    console.log('Data sent successfully:', response);
                }
            },
            error: function (error) {
                console.error('Error sending data:', error);
            }
        });
    });
</script>
