@{
    ViewData["Title"] = "About Us";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>O kompaniji CineTech</h1>
            <p>CineTech je filmska kompanija posvećena pružanju najboljeg iskustva gledanja filmova. Sa sedištem u Sarajevu, naša kompanija je poznata po inovativnom pristupu filmskoj produkciji i distribuciji.</p>
            <p>Naša vizija je da svet učinimo boljim mestom kroz moć filma. Kroz naše filmove, želimo da inspirišemo, zabavimo i edukujemo publiku širom sveta.</p>
            <h2>Naša misija</h2>
            <p>Naša misija je da stvaramo visokokvalitetne filmove koji će podstaći razmišljanje, oživeti emocije i ostaviti dubok utisak na publiku.</p>
            <h2>Naš tim</h2>
            <p>Tim CineTech-a čine strastveni filmski profesionalci sa različitim talentima i iskustvom. Svi zajedno radimo na ostvarenju naše vizije i misije.</p>
        </div>
        <div class="col-md-6">
            <h2>Kontaktirajte nas</h2>
            <p>Za više informacija o našim filmovima, događajima i partnerstvima, kontaktirajte nas putem emaila:</p>
            <p><a href="mailto:companycinetech@gmail.com">companycinetech@gmail.com</a></p>
            <p>Možete nas pratiti i na društvenim mrežama:</p>
            <ul>
                <li><a href="https://www.etf.unsa.ba/">Facebook</a></li>
                <li><a href="https://www.etf.unsa.ba/">Twitter</a></li>
                <li><a href="https://www.etf.unsa.ba/">Instagram</a></li>
            </ul>
            <h2>Radno vreme</h2>
            <p>Posetite nas svakog dana od 9h do 21h i uživajte u najnovijim filmskim ostvarenjima.</p>
            <p>Adresa: Zmaja od Bosne bb</p>
        </div>
    </div>
</div>
