@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Uslovi poslovanja</p>
<section class="usloviposlovanja">
    <div class="sc-usloviposlovanja">
        <div class="sc-poddio">
            <ul>
                <li class="sc-prvilink">
                    <a class="l-legal-info__link" href="https://app.cineplexx.ba/api/v1/media/files?path=IZJAVA O PRIVATNOSTI LI_NIH PODATAKA.pdf" rel="noopener noreferrer" target="_blank">IZJAVA O PRIVATNOSTI LIČNIH PODATAKA</a>
                </li>
                <li class="sc-drugilink">
                    <a class="l-legal-info__link" href="https://app.cineplexx.ba/api/v1/media/files?path=OP_I UVJETI POSLOVANJA INTERNETSKIH STRANICA.pdf" rel="noopener noreferrer" target="_blank">OPĆI UVJETI POSLOVANJA INTERNETSKIH STRANICA</a>
                </li>
                <li class="sc-trecilink">
                    <a class="l-legal-info__link" href="https://app.cineplexx.ba/api/v1/media/files?path=KOLA_I_I.pdf" rel="noopener noreferrer" target="_blank">KOLAČIĆI (COOKIES)</a>
                </li>
            </ul>
        </div>
    </div>
</section>

