@model IEnumerable<CineTech.Models.Film>

@{
    ViewData["Title"] = "AdminIndex";
}

<h1 class="text-center my-4">Administratorska kontrolna ploča</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm border-0 rounded-lg">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <a asp-action="AdminFilmovi" class="btn btn-primary btn-block">Panel za filmove</a>
                        </div>
                        <div class="col-md-6 mb-3">
                            <a asp-controller="KinoSalas" asp-action="Index" class="btn btn-primary btn-block">Panel za Kino sale</a>
                        </div>
                        <div class="col-md-6 mb-3">
                            <a asp-controller="Projekcijas" asp-action="Index" class="btn btn-primary btn-block">Panel za Projekcije</a>
                        </div>
                        <div class="col-md-6 mb-3">
                            <a asp-controller="Ocjenas" asp-action="Index" class="btn btn-primary btn-block">Panel ocjena</a>
                        </div>
                        <div class="col-md-6 mb-3">
                            <a asp-controller="Home" asp-action="SviKorisnici" class="btn btn-primary btn-block">Panel korisnika</a>
                        </div>
                        <div class="col-md-6 mb-3">
                            <a asp-controller="ZanroviFilmas" asp-action="Index" class="btn btn-primary btn-block">Panel zanrova za filmove</a>
                        </div>
                        <div class="col-md-6 mb-3">
                            <a asp-controller="Home" asp-action="StatistikaView" class="btn btn-primary btn-block">Panel za statistiku</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
