@model JArray
@using Newtonsoft.Json.Linq

@{
    ViewData["Title"] = "NajgledanijiFilmoviUSvijetu";
}

<h1>NajgledanijiFilmoviUSvijetu</h1>
<!--
<div class="row">
    @foreach (var movie in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://image.tmdb.org/t/p/w500/@movie["poster_path"]" alt="@movie["title"]">
                <div class="card-body">
                    <h5 class="card-title">@movie["title"]</h5>
                    <p class="card-text">@movie["overview"]</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <small class="text-muted">Rating: @movie["vote_average"]</small>
                    </div>
                </div>
            </div>
        </div>
    }
</div>-->
