@model IEnumerable<CineTech.Models.MovieTMDb>
@{
    ViewData["Title"] = "NajgledanijiFilmoviUSvijetu";
}
<center>
    <h1>Trenutno napopularniji filmovi u svijetu by</h1>
    <img style="margin:10px" src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_long_1-8ba2ac31f354005783fab473602c34c3f4fd207150182061e425d366e4f34596.svg" />
</center>
<div class="row">
    @foreach (var film in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="@($"https://image.tmdb.org/t/p/w342{film.Poster_Path}")" alt="@film.Title" />
                <div class="card-body">
                    <h5 class="card-title">@film.Title</h5>
                    <p class="card-text">
                        <strong>Opis:</strong> @film.Overview
                    </p>
                </div>
            </div>
        </div>
    }
</div>
