@model IEnumerable<CineTech.Models.MovieTMDb>
@{
    ViewData["Title"] = "NajgledanijiFilmoviUSvijetu";
}

<h1>NajgledanijiFilmoviUSvijetu</h1>

<div class="row">
    @foreach (var film in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="@($"https://image.tmdb.org/t/p/w342{film.Poster_Path}")" alt="@film.Title" />
                <div class="card-body">
                    <h5 class="card-title">@film.Title</h5>
                    <p class="card-text">
                        <strong>Opis:</strong> @film.Overview
                    </p>
                </div>
            </div>
        </div>
    }
</div>
