@model CineTech.Models.ZauzetaSjedista

@{
    ViewData["Title"] = "OdabirSjedista";
}

<h1>Create</h1>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
