@using Microsoft.AspNetCore.Identity
@model Tuple<List<ZauzetaSjedista>, int, int>
@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager

@{
    if (SignInManager.IsSignedIn(User))
    {
        var currentUserId = await UserManager.GetUserAsync(User);
        var korisnik = await UserManager.GetUserIdAsync(currentUserId);
    }

    var isAdmin = User.IsInRole("Administrator");

    async Task<string> GetUserNameAsync(string userId)
    {
        var user = await UserManager.FindByIdAsync(userId);
        return user?.UserName;
    }

    var maxRed = Model.Item2;
    var maxSjediste = Model.Item3;
    var projekcijaID = Model.Item1.First().ProjekcijaId;
}

@{
    ViewData["Title"] = "Zauzeta Sjedista";
}

<h1 class="text-center my-4">Slobodna sjedista</h1>

<div class="container">
    <div class="row justify-content-center">
        @for (var i = 1; i <= maxRed; i++)
        {
            <div class="d-flex justify-content-center mb-2">
                @for (var j = 1; j <= maxSjediste; j++)
                {
                    @if (Model.Item1.Any(o => o.red == i && o.redniBrojSjedista == j))
                    {
                        <img id="seatImage_@i@j" class="m-1" src="https://cdn3.iconfinder.com/data/icons/movie-entertainment-flat-style/64/13_seat-movie-cinema-chair-theater-512.png"
                             alt="Zauzeto Sjediste" onclick="changeImage(@i, @j, @projekcijaID)" width="50" height="50" />
                    }
                    else
                    {
                        <img class="m-1" src="https://cdn2.iconfinder.com/data/icons/bussines-1/512/bussines-09-512.png"
                             alt="Slobodno Sjediste" onclick="Zauzeto()" width="50" height="50" />
                    }
                }
            </div>
        }
    </div>
</div>

<div class="text-center mt-4">
    <button id="myButton" class="btn btn-success mx-2">Rezerviši</button>
    <button id="myButton1" class="btn btn-primary mx-2">Kupi</button>
</div>

<script>
    var OdabranaSjedista = [];

    function changeImage(i, j, projekcijaId) {
        var postoji = OdabranaSjedista.find(item => item[0] === i && item[1] === j);
        var seatImage = document.getElementById('seatImage_' + i + j);

        if (!postoji) {
            OdabranaSjedista.push([i, j, projekcijaId]);
            seatImage.src = 'https://cdn2.iconfinder.com/data/icons/work-office-13/24/office_chair_two_work_office_color_shadow_f-512.png';
        } else {
            OdabranaSjedista = OdabranaSjedista.filter(item => item[0] !== i || item[1] !== j);
            seatImage.src = 'https://cdn3.iconfinder.com/data/icons/movie-entertainment-flat-style/64/13_seat-movie-cinema-chair-theater-512.png';
        }
    }

    document.getElementById('myButton').addEventListener('click', function () {
        var dataToSend = OdabranaSjedista;
        $.ajax({
            type: 'POST',
            url: '/Rezervacijas/CreateSjediste',
            data: JSON.stringify(dataToSend),
            contentType: 'application/json',
            success: function (response) {
                if (response.redirectUrl) {
                    window.location.href = response.redirectUrl;
                } else {
                    console.log('Data sent successfully:', response);
                }
            },
            error: function (error) {
                console.error('Error sending data:', error);
            }
        });
    });

    document.getElementById('myButton1').addEventListener('click', function () {
        var dataToSend = OdabranaSjedista;
        var cijena = 0;
        $.ajax({
            type: 'POST',
            url: '/Home/KupovinaView',
            data: JSON.stringify(dataToSend),
            contentType: 'application/json',
            success: function (response) {
                if (response.redirectUrl) {
                    window.location.href = response.redirectUrl;
                } else {
                    console.log('Data sent successfully:', response);
                }
            },
            error: function (error) {
                console.error('Error sending data:', error);
            }
        });
    });
</script>
